*, ::before, ::after
	margin: 0
	padding: 0
	box-sizing: border-box

	// border: 1px solid black

#titleGrid
	& > h2
		margin: 2vh 0 2vh 0
	margin-bottom: 4%

.cc, .projectPresentingGrid
	// border: 1px solid black

.projectPresentingGrid
	background: #23252F
	// border: 1px solid red
	border: 1px solid black
	box-shadow: 6px 3px 5px black

	.projectImage
		width: 100%
		// height: auto

	.projectDescription
		margin-left: 4%

.projectActions
	background: #1A1B23
	padding: 1%
	// border: 1px solid white

.languageLogo
	width: 3vw


a
	text-decoration: none